<ng-container *ngIf="todo; else loading">
    <div class="todo-single" [ngClass]="todo.completed ? 'todo-completed' : 'todo-not-completed'">
        <h1>{{todo.name}}</h1>
        <p>{{todo.description}}</p>
        <p>Deadline: {{todo.createdAt | date}}</p>
        <p>Priority: {{Priority[todo.priority]}}</p>
        <button mat-icon-button (click)="backTo()">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
    </div>
</ng-container> 
<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>





