<h2>Product list</h2>
<form #addProdForm="ngForm" (ngSubmit)="addProd()">
  <div class="form-row form-group">
  <div class="col">
    <input type="text" class="form-control" placeholder="Name Product" [(ngModel)]="productForm.name" name="name" required>
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Price" [(ngModel)]="productForm.price" name="price" required>
  </div>
  <div class="col">
    <input type="submit" class="btn btn-primary" value="Add" [disabled]="!addProdForm.form.valid">
   </div>
</div>
</form>
<div class="form-row form-group">
<div class="col-4">
  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="name">
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col" (click)="sortProd()">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let product of products | sort : sortType | search : name; let i = index;">
    <tr>
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td><button type="button" class="close" (click)="delete(i)">
        <span aria-hidden="true">&times;</span>
      </button></td>
    </tr>
  </tbody>
  <tfoot>
    <td>Total</td>
    <td></td>
    <td>{{ total | currency}}</td>
    <td></td>
  </tfoot>
</table>
