*{
    margin: 0 auto;
}

body{
    background-image: url(https://sun9-47.userapi.com/c834402/v834402739/1327d0/rDqAaQKsuGo.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 200vmin;
    .title {
        padding-top: 50px;
        text-align: center;
        height: 100px; 
        font-family: 'Times New Roman', Times, serif;
        //background-color: aquamarine;
        font-weight: bold;
        font-size: 46px;
        text-decoration: underline;
    }
    
    .task {
        //background-color: #00cfff;
        //height: 100vh;
        padding-bottom: 50px;
        
        .item{
            padding: 50px 50px;
            display: inline-block;
            border: solid 5px;
            margin-left: 110px;
            margin-top: 50px;
            h3{
                font-size: 40px;
            }
            p{
                font-size: 30px;
            }
        }
    
        .item:hover{
            border: solid 5px red;
        }
        .done:hover{
            border: solid 5px limegreen;
        }
    }
    
}

