<div class="ms-3 mt-3">
    <div class="row">
        <div class="col-6">
            <p>Програмний модуль розроблений для ідентифікації об'єктів до критичних.</p>
            <p>Вхідними даними є: об’єкти дослідження та фактичні значення показників першого та другого рівнів.</p>
            <p>Вихідні дані: комплексний показник важливості об’єкта, за допомогою якого певний об’єкт відноситься до КІ
                держави.</p>
            <p>Для ідентифікації необхідні такі параметри:</p>
            <ul>
                <li>П1 − вартість річного випуску товарної продукції, млн грн.;</li>
                <li>П2 − загальна кількість виробничого персоналу, тис. осіб;</li>
                <li>П3 − балансова вартість основних виробничих фондів, млн грн.;</li>
                <li>П4 − частка основної продукції об'єкта в продукції того ж виду, що випускається в державі,%.;</li>
                <li>П5 − порушення керованості держави або регіону;</li>
                <li>П6 − нанесення шкоди авторитету держави, в тому числі на міжнародній арені;</li>
                <li>П7 − розкриття державних таємниць, конфіденційної науково-технічної та комерційної інформації;</li>
                <li>П8 − порушення боєготовності і боєздатності Збройних сил;</li>
                <li>П9 − порушення стабільності фінансової або банківської систем;</li>
                <li>П10 − великомасштабне знищення національних ресурсів;</li>
                <li>П11 − територія зараження (забруднення) в разі аварії на об'єкті;</li>
                <li>П12 − кількість населення, яке може постраждати в разі надзвичайної ситуації на об'єкті;</li>
                <li>П13 − порушення систем забезпечення життєдіяльності міст та населених пунктів;</li>
                <li>П14 − масові порушення правопорядку;</li>
                <li>П15 − зупинка безперервних виробництв;</li>
                <li>П16 − аварії та катастрофи регіонального масштабу</li>
                <li>Значення П1, П2, П3, П4, П11, П12 - числові.</li>
                <li>Значення П5, П6, П7, П8, П9, П10, П13, П14, П15, П16 - поділяються на дві групи «ні» або «так»:</li>
                <ul>
                    <li>«ні» - якщо НС на об’єкті не призводить до ситуації, то значення показника дорівнює 0.</li>
                    <li>«так» - якщо ж НС на об’єкті призводить до ситуації, то значення  дорівнює 1.</li>
                </ul>
            </ul>
        </div>
    </div>
</div>